@import 'tailwindcss';

.root{
--primary: #00C6BE
--contentsBg: #F8F8F8
--start: #231F20
--line: #EEEEEE
--icon: #444444
--warning: #FC3B75

--contentPrimary:  #231F20
--contentSecondary:  #959595
--contentTertiary:  #BBBBBB

--detailsTitle: #333333
--detailsSubtitle: #666666
--detailsContent: #1B1B1B
--detailsSecondary: #838383

--loginContent: #8E8E8E
--loginLine: #D7D7D7
--loginButton: #AAAAAA
/* font*/
--base-font-family: 'Pretendard Variable', sans-serif;
}

.theme{
    
/* theme */
--color-br-primary: var(--primary)
--color-br-contentsBg: var(--contentsBg)
--color-br-start: var(--start)
--color-br-line: var(--line)
--color-br-icon: var(--icon)
--color-br-warning: var(--warning)

--color-br-contentPrimary:  var(--contentPrimary)
--color-br-contentSecondary:  var(--contentSecondary)
--color-br-contentTertiary:  var(--contentTertiary)

--color-br-detailsTitle: var(--detailsTitle)
--color-br-detailsSubtitle: var(--detailsSubtitle)
--color-br-detailsContent: var(--detailsContent)
--color-br-detailsSecondary: var(--detailsSecondary)

--color-br-loginContent: var(--loginContent)
--color-br-loginLine: var(--loginLine)
--color-br-loginButton: var(--loginButton)

--font-Pretendard: 'Pretendard Variable', sans-serif; 
}

